@import "pandaroux.css";

@font-face {
    font-family: 'Fira Sans Light';
    src: url('../font/FiraSans-Light.eot');
    src: url('../font/FiraSans-Light.woff') format('woff'),
    url('../font/FiraSans-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    box-sizing: border-box;
    font-family: "Fira Sans Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body, main, section {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    cursor: none;
    font-size: 8vmin;
    overflow: hidden;
}

main {
    transition-property: transform;
    transition-duration: 0.5s;
}

section {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 5vh;
    justify-content: center;
    padding-bottom: 10rem;
}

section footer {
    bottom: 0.5rem;
    font-size: 1.5rem;
    position: absolute;
    right: 0;
}

a {
    color: inherit;
    text-decoration: inherit;
}

a:after {
    content: '\e81a';
    font-family: "pandaroux";
    font-style: normal;
    font-weight: normal;
    font-size: 1.9rem;
    opacity: 0.6;
    padding-left: 1rem;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
}

ul > li {
    padding: 0.5rem 0;
}

div.row, div.rowy {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

div.rowy {
    align-items: center;
}

div.row {
    height: 100%;
}

div.row > span {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

span.row {
    padding: 1rem 2rem;
}

.hashtag {
    margin: 0 1rem;
}

.blue {
    background-color: #00AACC;
    color: white;
}

.blue-text {
    background-color: white;
    color: #00AACC;
}

.lightgrey {
    background-color: #2C393B;
    color: white;
}

.lightgrey-text {
    background-color: white;
    color: #2C393B;
}

.orange {
    background-color: #FF4E00;
    color: white;
}

.orange-text {
    background-color: white;
    color: #FF4E00;
}

.grey {
    background-color: #C7C7C7;
}

.grey-text {
    color: #333333;
}

.brick {
    background-color: #CD6723;
    color: white;
}

img {
    max-width: 500px;
}

img.portrait {
    -webkit-clip-path: circle(100px at center);
    height: 240px;
    width: auto;
}

.legend {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
}

.legend-item {
    background-color: #9f9f9f;
    border-radius: 0.5rem;
    color: #ffffff;
    font-size: 1.2rem;
    margin: 0 0.5rem;
    padding: 0.5rem 0.5rem 0.75rem 0.5rem;
}

.legend-item.certified {
    background-color: white;
    color: #333333;
}

.legend-item.priviledged {
    background-color: #00AACC;
}

.legend-item.standard {
    font-style: italic;
}

.cloud {
    text-align: center;
    width: 98%;
}

.cloud > span {
    background-color: #9f9f9f;
    border-radius: 1rem;
    color: white;
    font-size: 2.5vw;
    font-weight: bolder;
    line-height: 12vmin;
    padding: 1rem;
    position: relative;
    width: auto;
    white-space: nowrap;
}

.cloud > span.priviledged {
    background-color: #00AACC;
}

.cloud > span.certified {
    background-color: white;
    color: #333333;
}

.cloud > span.not-standard {
    border: none;
    font-style: italic;
    font-weight: normal;
}

.stack {
    display: flex;
    flex-direction: row;
    height: 100%;
    overflow: hidden;
    width: 100%;
}

.stack span {
    align-items: center;
    background: none;
    border: none;
    color: #333333;
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    margin: 1rem;
}

.stack span > img {
    max-height: 9rem;
    max-width: 12rem;
    width: auto;
}

.stack > div {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    width: 33.3333%;
}

.stack > div:after {
    content: '.';
    display: inline-block;
    font-size: 1.5rem;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: -1.4rem;
    transform: rotate(90deg);
    transform-origin: 0 100%;
}

.stack > div.test {
    background-color: #F4F4F4;
}

.stack > div.test:after {
    content: 'tests';
}

.stack > div.libs {
    background-color: #EAEAE7;
}

.stack > div.libs:after {
    content: 'libs';
}

.stack > div.interaction {
    background-color: #C7C7C7;
}

.stack > div.interaction:after {
    content: 'user interaction';
}

.jauge {
    background-color: #333333;
    color: #ffffff;
    height: 4.5rem;
    line-height: 4rem;
    margin-top: 2rem;
    padding: 0.3rem 1rem;
    position: relative;
    text-align: right;
    width: 94%;
}

.jauge > * {
    color: #ffffff;
    font-size: 2.5rem;
    height: 100%;
    left: 0;
    line-height: 4.5rem;
    position: absolute;
    text-align: center;
    top: 0;
}

.p5 {
    background-color: green;
    width: 10%;
}

.p20 {
    background-color: #d1ff7b;
    color: #333333;
    width: 18%;
}

.p40 {
    background-color: #fff878;
    color: #333333;
    width: 40%;
}

.p75 {
    background-color: #ff2902;
    width: 78%;
}

.perror {
    background-color: #540000;
    font-size: inherit;
    padding-right: 1rem;
    text-align: right;
    width: 100%;
}

/******************* SLIDES ****************/

#title img {
    display: block;
    height: 60%;
    max-height: 473px;
    width: auto;
}

#title h1 {
    font-size: 5vw;
}

#title h2 {
    font-size: 3vw;
}

#topics {
    font-size: 6vh;
    padding-bottom: 0;
}

#title, #firefoxos-data, #firefoxos-architecture {
    color: #333333;
}


#web-apis h2 {
    margin-bottom: 0.5rem;
}

#tea-reader-screenshots, #tea-reader-screenshots-2 {
    flex-direction: row;
}

#tea-reader-screenshots img, #tea-reader-screenshots-2 img {
    padding: 0 0.5rem;
}

#my-js-skills ul {
    list-style: square;
    margin-top: 0;
}

#firefox-os-compatible-devices img {
    padding: 2rem;
}

#flame img {
    display: block;
    height: auto;
    width: 200px;
}

.flame-specs {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.epub {
    align-items: center;
    background-color: white;
    border: 0.25rem solid white;
    border-radius: 0.75rem;
    color: #333333;
    display: flex;
    flex-direction: row;
    height: 100%;
    padding: 1rem;
    position: relative;
    width: 90%;
}

.epub .epub-format {
    font-size: 2.5rem;
    margin: 0;
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
}

.epub .epub-arrow:after {
    content: '\e81c';
    display: inline-block;
    font-family: "pandaroux";
    font-style: normal;
    font-weight: normal;
    transform: rotate(90deg);
    transform-origin: 50% 50%;
}

.epub .epub-file {
    align-items: center;
    background-image: url(../images/file.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    font-size: 1.8rem;
    height: 15.5vmin;
    justify-content: center;
    margin: 0.5rem;
    width: 12vmin;
}

.epub .epub-file.double {
    font-size: 3rem;
    height: 21vmin;
    width: 16vmin;
}

.epub .epub-container {
    display: flex;
    flex-flow: row wrap;
    width: 70%;
}

#webide, #webide-debug, #webide-monitor, #chrome-devtools {
    padding-bottom: 0px;
}

#webide h2, #chrome-devtools h2 {
    margin: 1rem 0;
}

#webide img, #webide-debug img, #webide-monitor img, #chrome-devtools img {
    height: auto;
    max-width: none;
    width: auto;
}

#tea-reader-stack h2 {
    margin: 1rem 0;
}

#tea-reader-stack {
    padding-bottom: 0;
}

#csp-priviledged-app h2 {
    margin-bottom: 1rem;
}

#csp-priviledged-app h4 {
    margin: 0 12rem 1rem 0;
}

#thank-you {
    font-size: 5rem;
}